
  <div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">購物網站前台</h1>
    </div>
  <!-- /.row -->
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-lg-3">
        <div class="panel panel-default">
          <div class="card">
            <div class="content">

              <div class="row">
                <div class="col-xs-4">
                  <%= image_tag product.image, class: "img-thumbnail" %>
                </div>
                <div class="col-xs-7">
                  <div class="numbers"> 
                    <p><b>Name:</b> <%= product.name %></p> 
                    <p><b>Description:</b> <%= truncate product.description, length: 50 %></p>
                    <p><b>Price:</b>NTD$: <%= product.price %></p>
                  </div>
                </div>
              </div>

              <div class="footer">
                <hr />
                <div class="stats">
                  <ul class="movie-icon">
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>            
      <!-- /.panel -->
      </div>
    <% end %>
    <!-- /.row -->
  </div>
</div>